/* stylesheet for the index page */

canvas{
	
	opacity: 0.6;
	/*z-index: -1;   */

/* following 4 lines of code is from http://jsfiddle.net/6C55n/ */
	position: absolute;
    z-index: -1;

}
body{

	font-family: 'Raleway', sans-serif;
	margin: 0px;	
	overflow: visible;

}

a { 
	text-decoration: none;
	color: #2c3e50;

	
}

.active {

/*    #bdc3c7 --- #ffdac0 ---   e8a9b2  --- fcaa67 */
	background:#ecf0f1;
	padding: 2px;

}

.header{
	background-color: #fff;
	width: 100%;
	margin: 20px 20px 50px 20px;
	padding: 5px;
	font-size: 16px;
	font-weight: bold;
	color: #2c3e50;
}



#nav{

	margin: 0 50px;
	padding: 5px;
	float: right;

}

#nav span {

	margin: 0 10px;
}


#labelDiv {
    font-size: 20px;
    position: absolute;
    top: 250px;
    left: 200px;
    z-index: 0;
    text-align: center;
    background: rgba(255,255,255,0.9);
 

}

#labelDiv  p{


    line-height: 50px;

}

#point-modal{
	display: none;
	top:20px;
	left: 300px;
	position: absolute;
	margin: 0 auto;
	height: auto;
	font-size: 12px;
	color: #3498db;
}


#point-modal p{
			
			font-size: 12px;
			color: #7f8c8d;
			margin: 0;
			padding: 0;


}
.wrap{

	width: 960px;
	height: auto;
	margin: 10px auto;
	padding: 10px 40px;
	background: #f7f7f7;
	line-height: 30px;
}


#second-modal{

	display: none;
	top:20px;
	left: 300px;
	position: absolute;
	margin: 0 auto;
	height: auto;
	font-size: 12px;
	color: #3498db;

}

#second-modal p{

			font-size: 12px;
			color: #7f8c8d;
			margin: 0;
			padding: 0;


}






